.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 20em;
  width: 100%;
  background-color: var(--text-primary);
  color: var(--background-default);
}

.jumbotron h1{
  font-weight: 100;
}

.mainButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin-top: 3em;
}

.mainButtons button {
  background-color: var(--action-active);
  border: none;
  padding: 1em 2em 1em 2em;
  font-size: large;
  cursor: pointer;
  box-shadow: inset 0px -4px 0px 0px var(--action-layer);
  border-radius: 3px;
}

.mainButtons button:hover {
  animation: hoverMainButton 0.2s ease-in-out forwards;
}

@keyframes hoverMainButton {
  0% {
    box-shadow: inset 0px -4px 0px 0px var(--action-layer);
  }
  100% {
    box-shadow: inset 0px -6px 0px 0px var(--action-layer);
    opacity: 0.95;
  }
}

@media screen and (max-width: 512px) {
  .mainButtons {
    flex-direction: column;
    gap: 2em;
  }

  .mainButtons button {
    width: 50%;
  }
}

.secondaryButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin-top: 3em;
  margin-bottom: 5em;
  flex: 1;
}

.secondaryButtons button {
  background-color: var(--background-default);
  border: none;
  border-bottom: var(--action-hover);
  padding: 0.3em;
  cursor: pointer;
}

.secondaryButtons button:hover {
  animation: hoverSecondaryButton 0.02s ease-in-out forwards;
}

@keyframes hoverSecondaryButton {
  0% {
  }
  100% {
    opacity: 0.95;
    transform: scale(1.2);
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:  var(--action-selected);
  height: 3em;
}

@media screen and (max-width: 1280px) {
  .copyright {
    position: fixed;
    opacity: 50%;
  }
}