.main {
  max-width: 100em;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 512px) {
  .main {
    width:fit-content;
  }
}

.title {
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
  font-size: xxx-large;
}

.sectionTitle {
  display: inline-block;
  font-size: large;
  padding: 1em 2em;
  margin-left: 1em;
  margin-bottom: 1em;
  background-color: var(--divider);
  border-radius: 3px;
}

.projectCards {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  max-width: 80em;
  margin-left: 1.5em;
  margin-right: auto;
  margin-bottom: 1em;
}



.card {
  border: 1px solid var(--divider);
  cursor: pointer;
  position: relative;
  width: 16em;
  height: 9em;
  overflow: hidden;
  border-radius: 3px;
}

.hoverCaption {
  position: absolute;
  width: 16em;
  height: 9em;
  background-color: var(--action-active);
  color: var(--background-default);
  transform: translateY(50%);
  transition: .5s;
  transition-timing-function: ease-in-out;
  opacity: .0;
  border-radius: 3px;
}

.card:hover > .hoverCaption {
  transform: translateY(0%);
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .main section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projectCards {
    justify-content: center;
  }

  .hoverCaption {
    transform: translateY(0%);
    opacity: 1;
    background-color: var(--action-layer);
    text-align: center;
  }

  .hoverCaption h3{
    position: absolute;
    bottom: 1px;
    width: 100%;
    background-color: var(--action-layer);
  }

  .hoverCaption p{
    display: none;
  }
}

/* .card::after{
  content: '';
  display: block;
  position: absolute;
  width: 16em;
  height: 9em;
  background-color: var(--action-active);
  transform: translateY(100%); 
  opacity: 0;
  transition: .5s;
}

.card:hover::after {
  transform: translateY(0%);
  opacity: 1;
} */